body {
  background-color: #777;
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  display: flex;
  position: relative;
  justify-content: left;
  background-color: #BCB;
  color: #FFF; }

header img#textLogo {
  height: 40px; }

header strong#areaTitle {
  font-size: 1.5em;
  align-self: center;
  position: absolute;
  left: calc(50% - 100px); }

#sidebar {
  background-color: #989;
  padding: 50px 10px 10px 10px; }

#sidebar ul {
  list-style: none; }
